.navbar__lista{
    display: flex;
}

.navbar__item{
    list-style: none;

}

.navbar__link{
    color:gray;
    margin-right: 1.25rem;
    text-decoration: none;
    transition: 300ms;
}

.navbar__link:hover{
    text-decoration: none;
    font-size: 18px;
}

.navbar__link.activo{
    color: #333333;
}



@media screen and (max-width: 587px) {

    .navbar__item:nth-child(-n+3) {
        display: none;
    }

    .navbar__item:nth-child(n) {
        font-weight: 500;
    }

}